<nav>
  <a href="https://protected-river-6453.herokuapp.com/">HOME</a>
  <a href="hhttps://protected-river-6453.herokuapp.com/about">About Me</a>
  <a href="https://protected-river-6453.herokuapp.com/post">Blog Posts</a>
  <a href="https://protected-river-6453.herokuapp.com/post/new">Add new Post</a>
</nav>
