<nav>
  <a href="http://localhost:3000">HOME</a>
  <a href="http://localhost:3000/about">About Me</a>
  <a href="http://localhost:3000/posts">Blog Posts</a>
  <a href="http://localhost:3000/posts/new">Add new Post</a>
</nav>
