// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font: Helvetica;
$link-color: #34495E;

div {
  font-family: $font;
}

div.title-field {
  margin-top: 20px;
  width: 312px;
  margin-left: auto;
  margin-right: auto;
}

div.body-field {
  margin-top: 20px;
  width: 743px;
  margin-left: auto;
  margin-right: auto;
}

div.new-submit {
  margin-top: 5px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

div.title {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font-family: $font;
  font-size: 18px;
  text-align: center;

  a{
    color: $link-color;
    text-decoration: none;
  }
}

div.body {
  width: 80%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: $font;
  border: 1px solid grey;
  padding: 5px 10px;
  border-radius: 10px;

  div.time {
  text-align: center;
  font-size: 12px;
  }
}

.delete-div {
  width: 101px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

div.my-info {
  padding: 20px;
}


