// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Colors
$header-color: #27AE60;
$nav-color: #34495E;
$nav-font-color: white;
$body-color: #BDC3C7;

// Font
$font: Helvetica;

body {
  background-color: $body-color;
}

header {
  background-color: $header-color;
  height: 80px;
  text-align: center;
  padding-top: 5px;
  font-family: $font;
}

nav {
  height: 25px;
  background-color: $nav-color;
  padding-top: 8px;

  a {
    color: $nav-font-color;
    font-family: $font;
    text-decoration: none;
    margin-left: 10px;
  }
}

div.dog-gif {
  height: 300px;
  margin-top: 40px;
  margin-left: 20%;
  margin-right: 20%;
}
